:root {
	/* Column backgrounds */
	--color-green: #d4ead6;
	--color-yellow: #fde6b9;
	--color-red: #fbd1d3;

	/* Column title */
	--color-title-red: #9d3032;
	--color-title-orange: #f9b65f;
	--color-title-green: #8dd68a;

	/* Gradients (optional if needed) */
	--main-gradient: linear-gradient(135deg, #fbd1d3, #fde6b9, #cffbd2);
	--second-gradient: linear-gradient(135deg, #cfe8fb, #fbd1d3, #fde6b9);
	--light-gradient: linear-gradient(135deg, #e4f0ff, #fff0f2, #fdf5e6);
}

.button:hover {
	transform: scale(1.05);
	transition: transform 0.2s ease;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

.fade-slide-router-enter-active,
.fade-slide-router-leave-active {
	transition: all 0.5s ease;
}

.fade-slide-router-enter-from,
.fade-slide-router-leave-to {
	opacity: 0;
	transform: translateY(20px); // slide upward
}

.fade-slide-router-enter-to,
.fade-slide-router-leave-from {
	opacity: 1;
	transform: translateY(0);
}

.gradient_1 {
	background: var(--main-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #fff9f4;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
	background: var(--main-gradient);
	border-radius: 10px;
	border: 2px solid #fff9f4;
}

.popup_card::-webkit-scrollbar-thumb {
	background-color: var(--accent-color);
	border-radius: 10px;
	border: 2px solid #fff9f4;
}
