.board_app {
	position: relative;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	background-image: url('@renderer/assets/images/background.svg');
	background-size: contain;
	background-position: center;

	display: flex;
	flex-direction: column;
	overflow: hidden;

	&--header {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		margin: 1rem;
		margin-bottom: 0;
	}

	&--columns {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
		padding: 1rem;
		width: 100%;
		flex: 1;
	}
}

.header {
	&--icon {
		width: 3.5em;
		height: auto;
	}

	&--title {
		font-family: 'PixelFont';
		color: rgb(111, 69, 30);
	}
}

.columns {
	&--todo,
	&--progress,
	&--done {
		display: flex;
		flex-direction: column;
		padding: 0.7rem;
		width: 100%;
		flex: 1;
		max-height: 85vh;
		border-radius: 16px;
		overflow: hidden;
	}

	&--todo {
		background-color: var(--color-red);
	}
	&--progress {
		background-color: var(--color-yellow);
	}
	&--done {
		background-color: var(--color-green);
	}
}

.columns_header {
	font-family: 'PixelFont';
	font-size: 1rem;
	margin-bottom: 0.5rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.3rem;

	&--icon {
		width: 2.7em;
		height: auto;
	}

	&--title {
		&_todo {
			color: var(--color-title-red);
		}
		&_progress {
			color: var(--color-title-yellow);
		}
		&_done {
			color: var(--color-title-green);
		}
	}
}

.columns_cards_area {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 0.5rem;
	padding-right: 0.3rem;
	overflow-y: auto;
	min-height: 0;
}

.columns_cards_area {
	transition: 0.2s ease;
	border-radius: 12px;
}

.columns_cards_area.drop-hover {
	background-color: #e0f7ff;
	border: 2px dashed #3399ff;
}

.columns_add_task {
	display: flex;
	flex-direction: row;
	gap: 0.4rem;
	margin-top: 0.7rem;
}

.add_task {
	&--input {
		font-family: 'PixelFont';
		flex: 1;
		padding: 0.5rem;
		border-radius: 8px;
		border: none;
	}

	&--button {
		font-family: 'PixelFont';
		padding: 0.5rem 1rem;
		border: none;
		border-radius: 8px;
		background-color: #fff;
		color: #333;
		font-weight: bold;

		transition: transform 0.2s ease;

		&:hover {
			cursor: pointer;
			transform: scale(1.08);
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
		}
	}
}
